body{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQz3m_xko2sq74GvuOWY3KkqOCd8FKABMnlw&usqp=CAU); border: 10px groove green;
background-size: cover;}
*{margin:0;}



.box1,.box3 {color: white;
background-color: black;
border: 5px solid tomato;
width:200px;
height: 50px;
border-radius: 20px;
font-weight: bold;
padding: 10px;
    position: relative;

}

.box2{
    color: white;
background-color: black;
border: 5px solid tomato;
width: 300px;
height: 30px;
border-radius: 40px;
font-weight: bold;
padding-top: 20px;
text-align: center;
    position: absolute;
top: 35px;
left:180px;


}

div{display:inline-block;
   }
.box3{margin-left: 700px;}
.circle{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 4px solid gray;
    
    background-color: rgb(27, 128, 128);
    
    margin-left: 100px;
    margin-bottom: 100px;
    font-weight: bold;
}
p{text-align: center; 
padding: 25px;
}
.oo
{
    color: tomato;
    
    margin: 20px;
}
.pp{border: 1px solid black;
padding: 2px;}
form{ margin: 100px;
    border: 10px dashed tomato;
    text-align: center;

    
}

h1{padding: 10px;} 
.mitt{
    color: white;
    background-color: black;
    border: 5px solid tomato;
    width: 300px;
    height: 30px;
    border-radius: 40px;
    font-weight: bolder;
    padding-top: 20px;
    text-align: center;
margin-left: 500px;
font-style: italic;}
    
    .one{ border: 2px solid green;background-color: aqua;
        color: blue; width: 300px;
        height: 300px;
        border-radius: 40px;
        margin: 50px;


    }
h2{text-align: center;
}
